/* Acá va tu código */

body
{ background: center;
 text-align: center;
 background: url(matrimonio.png);
 background-position: -15% 0; 
 background-attachment:fixed;
} 

h1
{
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    -webkit-text-: 3px white;

}

p
{  font-family: 'Shadows Into Light Two', cursive;
    font-size: 30px;
}